<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">SmartUI</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @* <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
            </div>
            </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <SmartNavLink Url="/" Icon="fas fa-th">
                    <p> Widgets </p>
                </SmartNavLink>
                <SmartNavLink Icon="fas fa-edit">
                    <ChildContent>
                        <p>
                            Forms
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </ChildContent>
                    <TreeView>
                        <SmartNavLink Url="/SampleInputText" Icon="fas fa-th">
                            <p> InputText </p>
                        </SmartNavLink>
                        <SmartNavLink Url="/SampleInputNumber" Icon="fas fa-th">
                            <p> InputNumber </p>
                        </SmartNavLink>
                    </TreeView>
                </SmartNavLink>
                <SmartNavLink Icon="fas fa-table">
                    <ChildContent>
                        <p>
                            Data
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </ChildContent>
                    <TreeView>
                        <SmartNavLink Url="/SampleDataTable" Icon="fas fa-th">
                            <p> DataTable </p>
                        </SmartNavLink>
                    </TreeView>
                </SmartNavLink>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
