@typeparam TItem
@typeparam TValue


<div class="dropdown dropdown-scroll">
    
    <button class="btn btn-default btn-block event-button dropdown-toggle" type="button" id="dropdownMenu1" @onclick="() => visible = !visible" >
        <span>@selectedText</span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu @(visible ? "show" : "") " role="menu" aria-labelledby="dropdownMenu1">
        <div class="input-group input-group-sm search-control">
            <input type="text" class="form-control" placeholder="Search" @oninput="OnSearchTermChange" autofocus>
        </div
        @if((filteredDataSource?.Count ?? 0) == 0)
        {
            <div style="margin:auto;"> @NoRecordTemplate </div>
        }
        <ul class="dropdown-list">
            @foreach (TItem item in filteredDataSource ?? new List<TItem>())
             {
            <li role="presentation" ng-repeat='item in items | filter:eventSearch'  @onclick="() => OnItemSelected(item)">
                                <a>
                                    @(GetPropertyValue<TItem>(GetPropertyName(TextField.Body), item))
                                    </a>
            </li>
             }
        </ul>
    </div>
</div>

<style>
    .dropdown-menu {
        display : none
    }
    .dropdown-menu {
         height: 240px;
         overflow: auto;

    }
    .show {
        display : block
    }
</style>


@code {
    
}